@import url('./reset.css') layer(base);
@import url('../components/Carousel/Carousel.css') layer(components);

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 2rem 0 4rem 0;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

header {
  padding: 4rem 0;
}

main {
  max-width: 90%;
  margin: auto;
}

button {
  cursor: pointer;
  padding: .75em 1.5em;
}
